/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* ===== GLOBAL STYLES ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #fff;
  /* background: rgba(0, 0, 0, 0.9); */
  background: #fff;
  scroll-behavior: smooth;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 10px;
  background: #fff;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Stack header, main, footer vertically */
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ===== HEADING HOVER EFFECTS ===== */
h1:hover,
h2:hover,
h3:hover {
  color: #22c55e !important;
  transition: color 0.3s ease;
}
